* {
    margin: 0;
    box-sizing: border-box;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(41, 6, 65), rgba(0, 0, 0, 0.263));
    opacity: 0.25; /* Puedes ajustar la opacidad según lo necesites */
    z-index: -1; /* Para asegurarte de que el pseudo-elemento esté detrás del contenido */
}

body {
    font-family: 'Roboto Mono', monospace;
    padding: 100px 20px 0;
    background-image: url('imagenes/redes.png'), linear-gradient(to right, rgb(147, 12, 236), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Esto hará que la imagen de fondo se mantenga fija mientras se desplaza el contenido */
}

.adolecentes-a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.adolecentes-a:hover {
    background-color: #0056b3;
}

iframe {
    width: 100%;
    height: 500px; 
    border: none;
}

@media (max-width: 768px) {
  iframe {
      height: 200px; /* Ajustar la altura para pantallas más pequeñas */
  }
}

/* Estilos adicionales para pantallas aún más pequeñas (por ejemplo, smartphones) */
@media (max-width: 480px) {
  iframe {
      height: 150px; /* Ajustar la altura para pantallas muy pequeñas */
  }
}


img {
  max-width: 70%;
  height: auto;
    display: block;
    margin: 0 auto; 
}

@media only screen and (max-width: 768px) {
  img {
    max-width: 90%; 
  }
}


@media only screen and (min-width: 1200px) {
  img {
    max-width: 50%; 
  }
}


.adolecentes {
  margin-top: 50px; /* Espacio en la parte superior */
  margin-bottom: 20px; /* Espacio en la parte inferior */
}

.adolecentes > * {
  margin-bottom: 10px; /* Espacio entre elementos hijos */
}

  .header {
    background-color: black;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .Logo {
    width: 90px; /* Ancho deseado en píxeles */
    height: auto; /* Auto para mantener la proporción */
}

  
  .nav {
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1093px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 5px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 16px;
    margin: 0 20px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
    padding-inline-start: 0.5rem ;
      display: none;
  }
  
  .nav-menu.nav-menu_visible .nav-menu-item {
    display: block;
  }
  

  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: rgba(62, 144, 165, 0.226);
    transition: 0.5s;
  }
  
  .nav-toggle {
    background-color: #000000;
    color: white;
    padding: 10px 15px; 
    border: none;
    border-radius: 5px;
    display: block;
    position: absolute;
    cursor: pointer; 
    transition: background-color 0.3s;
    right: 20px;
    top: 15px;
  }

  .nav-toggle:hover,
  .nav-toggle:focus {
    background-color: #525555; /* Color de fondo al pasar el mouse o enfocar */
  }

  .nav-menu_visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #090909;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    padding: 20px 0;
    
  }
  
  a {
    color:white;
    text-decoration: none;
    }

  
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
    .header {
      background-color: black;
      height: 60px;
    }
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 20px;
      background-color: #090909;
      position: fixed;
      left: 20px; 
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: calc(100% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s; 
    }
    .nav-menu-item {
      line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: rgba(62, 144, 165, 0.226);
    }
    .nav-toggle {
      display: block;
    }
    .nav-menu_visible {
      left: 0;
    }
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
    .dropdown {
      margin: 0 auto;
    }
  }
  
  



section {
    background: linear-gradient(to right, #2906419f, #000000);
    max-width:800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    color:white

}

.explore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
    
    
    
h1, h3 {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: 1px 1px 2px rgba(214, 118, 9, 0.8);
}

p{
    color: #14c91b;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

/* Estilos generales del footer */
footer {
  background-color: black; /* Cambia el color de fondo según tus preferencias */
  color: #fff; /* Cambia el color del texto según tus preferencias */
  padding: 20px; /* Añade espacio interno al footer */
  text-align: center; /* Centra el contenido del footer */
}

/* Estilos para el logo */
.footer-logo {
  width: 100px; /* Ajusta el tamaño del logo según sea necesario */
}

/* Estilos para el texto */
.footer-texto {
  font-size: 14px; /* Tamaño de fuente del texto */
  margin-bottom: 10px; 
  color:white;/* Añade espacio entre el texto y el borde inferior */
}

/* Estilos para los derechos de autor */
.derechos-de-autor {
  font-size: 12px; /* Tamaño de fuente del texto de derechos de autor */
  margin-top: 10px; /* Añade espacio entre el texto de derechos de autor y el contenido superior */
}
