* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(to right, #1a0213, #192b9c, #4a0074, #531875, #192b9c, #1a0213); 
  padding: 90px 20px 0;
}

.header {
  background-color:black;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}


.nav {
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1093px;
  margin: 0 auto;

}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  margin-left: 5px;
  list-style: none;
}

.nav-menu-item {
  font-size: 16px;
  margin: 0 20px;
  line-height: 50px;
  text-transform: uppercase;
  width: max-content;
  padding-inline-start: 0.5rem ;
    display: none;
}


.nav-menu.nav-menu_visible .nav-menu-item {
  display: block;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: rgba(62, 144, 165, 0.226);
  transition: 0.5s;
}

.nav-toggle {
  background-color: #000000;
  color: white;
  padding: 10px 15px; 
  border: none;
  border-radius: 5px;
  display: block;
  position: absolute;
  cursor: pointer; 
  transition: background-color 0.3s;
  right: 20px;
  top: 15px;
}

.nav-toggle:hover,
.nav-toggle:focus {
  background-color: #525555; /* Color de fondo al pasar el mouse o enfocar */
}



.nav-menu_visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #090909;
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  padding: 20px 0;
}


@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }
  .header {
    background-color:black;
    height: 60px;
    
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #090909;
    position: fixed;
    left: 20px; 
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; 
  }
  .nav-menu-item {
    position: relative;
    line-height: 70px;
  }
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: rgba(62, 144, 165, 0.226);
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  .dropdown {
    margin: 0 auto;
  }
  
}


.logo-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  height: 100px; /* Ajusta según la necesidad */
  flex-direction: column-reverse;
}

.logo-container img {
  display:inline-table; /* Elimina cualquier espacio alrededor que tenga por defecto */
  margin: 0 auto; /* Centra el elemento horizontalmente */
  width: 150px; /* Ajusta el ancho del logo */
  height: 150px; /* Mantiene la proporción del logo */ 
}

.logo-container {
  text-align: center;
}


.titulo1{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 4vw;
  color:#f1f0f2;
}

@media screen and (max-width: 768px) {
  .titulo1 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 480px) {
  .titulo1 {
    font-size: 6vw;
    
  }
}

section {
  background: linear-gradient(to right, #29064175, #000000dd);
  max-width:900px;
  max-height: 900px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(125, 17, 5, 0.69);
  
} 


ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: white;
}

a{
  color: #fffffffb;
  text-decoration: none;

}

.info{
  font-size: small;
}


.explore-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

p{
  color:white;
  
}


h1, h2, h3 {
  color: rgb(255, 106, 0);
  text-shadow: 1px 1px 2px rgba(214, 118, 9, 0.8);
}

h4{
  color: rgba(255, 106, 0, 0.442);
}
b{
  color: white;
}





/* Estilos específicos para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas, como tablets */
  .testimonio-imagen {
      max-width: 80%; /* La imagen ocupa el 80% del contenedor */
  }
}

@media (max-width: 576px) {
  /* Estilos para pantallas muy pequeñas, como smartphones */
  .testimonio-imagen {
      max-width: 100%; /* La imagen ocupa el 100% del contenedor */
  }
}


.testimonios {
  width: 100%; /* Ancho al 100% para ocupar todo el espacio disponible */
  height: 100%; /* Altura de 500px (puedes ajustar este valor según sea necesario) */
  padding: 40px 40px 80px 40px;
  position: relative; 
  z-index: 0; 
}

/* Estilos para la sección de testimonios en dispositivos móviles */
@media (max-width: 768px) {
  .testimonios {
      height: 870px; 
      width: auto;
  }
}


/* Ajuste del z-index para que el carrusel esté debajo del encabezado */
.testimonios .carousel {
  max-width: 800px;
  position: relative;
  z-index: -1; /* Ajustado */
}

/* Estilos adicionales para el encabezado */
header {
  position: relative; /* Añadido */
  z-index: 1; /* Ajustado */
}

.carousel-item .container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 450px;
  width: 450px;
  margin: 10px 10px 10px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
  
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}



/* Estilos para la sección de testimonios */
.testimonios {
  padding-top: 91px; /* Espacio en la parte superior */
  padding-bottom: 600px; /* Espacio adicional en la parte inferior */
  padding-left: 18px; /* Espacio a la izquierda */
  padding-right: 18px; /* Espacio a la derecha */
  position: relative;
  z-index: 0;
}

/* Estilos para el carrusel */
#testimonios-carrusel {
    max-width: 100%;
    position: relative;
    z-index: 1; /* Ajustado para que esté por encima de otros elementos */
}



/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 250px;
    width: 250px;
  }

  .testimonio-texto {
    font-size: 18px;
  }

  .testimonios {
    padding: 1px;
    position: relative;
    z-index: 0;
}
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 200px;
  }
}

.contenedor-tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  gap: 50px;
  padding: 20px; /* Reducido de 223px que parece excesivo */
  align-items: stretch;
  margin-top: auto;
}

.tarjeta {
  cursor: pointer;
  overflow: visible;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;  /* Ajuste clave para apilar verticalmente la imagen y el texto */
  align-items: center;     /* Alineación horizontal al centro */
  justify-content: center; /* Alineación vertical al centro (si es necesario) */
  transition: all 0.3s ease;
}

.imagen-tarjeta {
  width: 30%; /* Cambiado de 50% para mejor adaptación */
  height: 50%; /* Mantener la relación de aspecto, cambiado de 50% */
  display: block;
}

.contenido, .detalle-oculto {
  padding: 15px; /* Aumentado de 5px para mejor legibilidad */
  text-align: center;
}

.detalle-oculto {
  display: none;
}

.cliente {
  margin:max-content;
  color:#E3BBF2;
}


.cargo{
  margin:max-content;
}



.linkedin-icon {
  font-size: 1.5em;
  color: #B8C8EA; 
}


/* Estilos generales para el texto dentro del contenedor */
.testimonio-info {
  word-wrap: break-word; /* Permite que las palabras se rompan para ajustarse al contenedor */
  overflow: hidden; /* Oculta el texto que se desborda del contenedor */
}


.cliente, .cargo {
  font-size: 1rem; /* Tamaño de fuente base para pantallas grandes */
  line-height: 1.4; /* Espaciado entre líneas para mejorar la legibilidad */
  margin: 0; /* Eliminar margen predeterminado */
  padding: 0; /* Eliminar relleno predeterminado */
}


@media (max-width: 1024px) { /* Para tablets y pantallas menores */
  .cliente, .cargo {
      font-size: 0.9rem; /* Reducir el tamaño de la fuente */
  }
}

/* Estilos específicos para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .cliente, .cargo {
    font-size: 0.8rem; /* Reducir aún más el tamaño de la fuente */
}
  
}



@media (max-width: 576px) {
  .cliente, .cargo {
    font-size: 0.8rem; /* Reducir aún más el tamaño de la fuente */  
    line-height: 1.3;
  
  }
}



/* Media Queries para pantallas más pequeñas */
@media (max-width: 600px) {
  .contenedor-tarjetas {
    grid-template-columns: 1fr; /* Solo una columna en pantallas pequeñas */
    gap: 20px; /* Menor espacio entre tarjetas */
    padding: 10px; /* Menos padding en el contenedor */
  }

  .imagen-tarjeta {
    width: 30%; /* Asegurar que las imágenes se ajusten correctamente */
  }

  .contenido, .detalle-oculto {
    padding: 10px; /* Padding adecuado para pantallas pequeñas */
  }

  .linkedin-icon {
    font-size: 2em; 
    color:#B8C8EA;
  }
}


/* Estilos generales del footer */
footer {
  background-color: black; /* Cambia el color de fondo según tus preferencias */
  color: #fff; /* Cambia el color del texto según tus preferencias */
  padding: 20px; /* Añade espacio interno al footer */
  text-align: center; /* Centra el contenido del footer */
}

/* Estilos para el logo */
.footer-logo {
  width: 90px;
  height: 90px;
  margin: 10px; /* Ajusta el tamaño del logo según sea necesario */
}


/* Estilos para el texto */
.footer-texto {
  font-size: 14px; /* Tamaño de fuente del texto */
  margin-bottom: 10px; /* Añade espacio entre el texto y el borde inferior */
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

/* Estilos para los derechos de autor */
.derechos-de-autor {
  font-size: 12px; /* Tamaño de fuente del texto de derechos de autor */
  margin-top: 10px; /* Añade espacio entre el texto de derechos de autor y el contenido superior */
}
