* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(to right, rgb(41, 6, 65), rgb(0, 0, 0));
  
  padding: 90px 20px 0;

}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(41, 6, 65), rgb(0, 0, 0));
  opacity: 0.25; /* Puedes ajustar la opacidad según lo necesites */
  z-index: -1; /* Para asegurarte de que el pseudo-elemento esté detrás del contenido */
}

body {
  font-family: 'Roboto Mono', monospace;
  padding: 80px 20px 0;
  background-image: url('imagenes/ingenieria social (1).jpg'), linear-gradient(to right, rgb(15, 2, 23), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Esto hará que la imagen de fondo se mantenga fija mientras se desplaza el contenido */
}

.header {
  background-color:black;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}


.nav {
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1093px;
  margin: 0 auto;

}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  margin-left: 5px;
  list-style: none;
}

.nav-menu-item {
  font-size: 16px;
  margin: 0 20px;
  line-height: 50px;
  text-transform: uppercase;
  width: max-content;
  padding-inline-start: 0.5rem ;
    display: none;
}


.nav-menu.nav-menu_visible .nav-menu-item {
  display: block;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: rgba(62, 144, 165, 0.226);
  transition: 0.5s;
}

.nav-toggle {
  background-color: #000000;
  color: white;
  padding: 10px 15px; 
  border: none;
  border-radius: 5px;
  display: block;
  position: absolute;
  cursor: pointer; 
  transition: background-color 0.3s;
  right: 20px;
  top: 15px;
}

.nav-toggle:hover,
.nav-toggle:focus {
  background-color: #525555; /* Color de fondo al pasar el mouse o enfocar */
}



.nav-menu_visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #090909;
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  padding: 20px 0;
}


@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }
  .header {
    background-color: black;
    height: 60px;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #090909;
    position: fixed;
    left: 20px; 
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; 
  }
  .nav-menu-item {
    line-height: 70px;
  }
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: rgba(62, 144, 165, 0.226);
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  .dropdown {
    margin: 0 auto;
  }
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: none;
  position: absolute;
  background-color: #f3f2f2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-y: auto;
  max-height: 200px;
  border-radius: 5px;
  white-space: nowrap;
}

.dropdown-content a {
  font-size: 9px;
  display:inline-block; 
  margin-bottom: 5px;
  color: rgb(14, 11, 11);
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #403e3e7d;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #050505;}


.dropbtn {
  background-color: #183560;
  color: white;
  padding: 1px 16px;
  font-size: 2px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropbtn:hover {
  background-color: #3e8e41;
}


  

  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: linear-gradient(to right, #2906419e, #000000);
    border-radius: 10px;
    box-shadow: 1px 1px 14px 22px #ac2e2e9f;
    font-weight: bold;
}

.accordion {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgba(57, 57, 57, 0.559);
    text-align: left;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.accordion:hover {
  background-color:#ac2e2e9f;
  
}


.panel {
    display: none;
    padding: 10px;
    background: #160924;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2F0743, #3e215c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color:white;
}

.accordion-container {
    max-width: 600px;
    margin: 0 auto;
    
    
    
}

.accordion {
    font-weight: bold;
    border: 1px solid #867d7dbf;
    border-radius: 5px;
    margin-bottom: 10px;
    color:#17cd9cd3;
    
}

.accordion-header {
    padding: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
    
}

h5{
    color:#ed5b2b;
}




section {
    background: linear-gradient(to right, #290641, #000000);
    max-width:800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    color:white
    
}
ul :hover{
  list-style-type:none;
  
}
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .explore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  
  
  
  h1, h3 {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: 1px 1px 2px rgba(214, 118, 9, 0.8);
  }
  
  b{
    color: white;
  }

p{
  color: #14c91b;
}

/* Estilos generales del footer */
footer {
  background-color: black; /* Cambia el color de fondo según tus preferencias */
  color: #fff; /* Cambia el color del texto según tus preferencias */
  padding: 20px; /* Añade espacio interno al footer */
  text-align: center; /* Centra el contenido del footer */
}

/* Estilos para el logo */
.footer-logo {
  width: 90px;
  height: 90px;
  margin: 10px;  /* Ajusta el tamaño del logo según sea necesario */
}

/* Estilos para el texto */
.footer-texto {
  font-size: 14px;
  margin-bottom: 10px; 
  color: #fff;
}
.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}
/* Estilos para los derechos de autor */
.derechos-de-autor {
  font-size: 12px; /* Tamaño de fuente del texto de derechos de autor */
  margin-top: 10px; /* Añade espacio entre el texto de derechos de autor y el contenido superior */
}
